/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins:wght@500&family=Yeseva+One&display=swap');

/*--------------------------------------- 
-----------------------------------------
            header style
-----------------------------------------
----------------------------------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
   
}
.first-title{
    margin: 87px 240px;
}
.first-part{
    margin-bottom: 200px;
    
}
header{
    
    display:flex;
    flex-direction: column;     
}
.first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-button {
   color: whitesmoke;
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    text-decoration: none;
    
}




.headers{
     display: flex;
     flex-direction: wrap;
    
}

.top-part{   
width: 582px;
height: 270px;
left: 120px;
top: 285px;
}

.main-cam> img{
  background: url(images/Circle\ design.svg); 
  height: 220;
  width: 414; 
}
.logo-sec{
    margin-bottom: 80px;
    
}
.logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    border: 2px solid gainsboro;
    margin: 0 165px;
    border-left: none;
    border-right: none;

}
.logos{
    padding: 26px 42px;

}
/* ----------------------------------
-------------------------------------
            products style
-------------------------------------
         
------------------------------------*/
main{
    display: flex;
    flex-direction: column;
   margin: auto;
   padding-bottom: 50px;
}
.section-title{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 870px;
    margin-top: 21px;
    border-radius: 5px;
    margin: auto;
    
}


.products{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap:30px;
    
}
.gadget{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    padding: 15px;
}

    

.gadget-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gadget-price{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
    
}
.fa-star.empty{
    color: #AEAEAE;
    
}
.button{
    position: relative;
  
    margin-left: 720px;
}    
.second-button{
    color:  #E02C6D;
    padding: 15px 25px; 
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;  
}

.fa-arrow-right{
    padding-left: 10px;
   
}

/* --------------support---------------- */

s-title{
    align-items: center;
    justify-content: center;
}
.support{
   text-align: center;
   margin: 0 165px;
   padding-bottom: 100px;
}
.product-support{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15) ;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
}

.support-button{
     text-decoration: none;
     color:#0a0826;
     font-size: 18px;
     width: 50px;   
}
.fa-angle-right{
    margin-left: 10px;
}
.support-button:hover{
    color:  #E02C6D;
}

.support-system{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap:30px;
}   
/*------------------------------- 
             footer
 --------------------------------*/
.footer{
   background-color:  #0a0826;
   color:  #FFFFFF;
   text-align: center;
   padding-bottom: 50px;
}
.fab{
   padding-left: 15px;
}
.f-tag{
    size: 24px;
}
/* --------------------------
-----------------------------
         media queries
-----------------------------
         moblie devices
---------------------------- */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .headers, .support-system, .products{
       
        grid-template-columns: repeat(1, 1fr);
    }
    .logos, .logo{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }

    .headers, .support-system, .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .logos, .logo{
        grid-template-columns: repeat(3, 1fr);
    }
    
}